* {
	font-family: 'Noto Sans', sans-serif;
}
.title {
	width: 100%;
	height: 180px;
	text-align: center;
	color: white;
	background-color: #3e3e3e;
    border-radius: 20px;
}
.title h2 {
	font-weight: 300;
	padding-top: 100px;
}
table {
	border: 1px solid #a39fa0;
	padding: 3%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.thanhtoan {
	color: white;
	font-size:14px;
    background: black;
    padding: 1%;
    border:none;
    margin:10px;
    transition:0.5s;
    float: right;
    margin-bottom: 50px;
    margin-right: 70px;
}
.imgSP {
	width: 20%;
	height: auto;
	padding: 5%;
}
.infosend {
	display: flex;
}
.Province select {
	width: 200px;
	height: 40px;
}
.country select {
	width: 300px;
	height: 40px;
}
.Province {
	margin-left: 10px;
}

.Province p {
	padding-bottom: 10px;
	padding-top: 10px;
}
.country {
	margin-left: 150px;
}

.country p {
	padding-bottom: 10px;
	padding-top: 10px;
}
.address {
	margin-left: 150px;
}
.imgSP img {
	width: 100px;
	height: auto;
}
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
a {
    text-decoration: none;
    color: white;
}

